*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: sans-serif;
    font-size: 14px;
    line-height: 24px;
}
h1,h2,h3,h4,h5,h6{
    font-family: sans-serif;
}
image{
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.header{
    float: left;
    width: 100%;
    background-color: #1d1b2b;
}
.container{
    width: 1140px;
    margin: 0px auto;
}
.row{
    width: 100%;
    float: left;
}
.col6{
    width: 50%;
    float: left;
}
.col6 h3{
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0px;
    color: coral;
}
.menu{
    display: block;
    text-align: right;
}
.menu li{
    list-style: none;
    display: inline-block;
    margin: 10px 0px;
}
.menu li a{
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    color: white;
}
.menu li:hover{
    border-bottom: 2px solid red;
}
.banner{
    width: 90%;
    padding: 50px 67px;
}
.form{
    margin: 50px;
}
.form h1{
    font-size: 45px;
    line-height: 1.2em;
    font-weight: 700;
    color: rgb(255, 131, 43);
}
.form h5{
    font-size: 23px;
    font-weight: 600;
    color: #ffefe8;
}
.btn-primary{
    padding: 7px 10px;
    margin: 10px 0px;
    border-radius: 8px;
    font-size: 14px;
    color: white;
    background:  coral;
}
.btn-primary:hover{
    cursor: pointer;
    background: rgb(15, 65, 245);
    color: rgb(85, 255, 0);
}
.avater img{
    width: 80%;
    height: 274px;
}
.avater{
    display: block;
    text-align: center;
}
.formbox{
    padding: 30px 0px 0px 43px;
}
.formbox h5{
    font-size: 16px;
    font-weight: 400;
    color:  coral;
}
.formbox h2{
    font-size: 28px;
    font-weight: 700;
    line-height: 1.2em;
    color: rgb(240, 227, 227);
}
.formbox p{
    font-size: 14px;
    font-weight: 300;
    color: rgb(233, 226, 214);
}
/* focus start */
.focus{

}
.row{
    width: 100%;
    float: left;
}
.col4{
    width: 100%;
    float: left;
}
/* focus end */
/*.inerbanner{
    padding: 80px 0px;
}
.form{
    margin: 60px;
}
.form h1{
    font-size: 45px;
    line-height: 1.2em;
    font-weight: 700;
    color: rgb(255, 131, 43);
}
.form h5{
    font-size: 23px;
    font-weight: 600;
    color: #ffefe8;
}
.btn-primary{
    padding: 7px 10px;
    margin: 10px 0px;
    border-radius: 8px;
    font-size: 14px;
    color: white;
    background:  coral;
}
.btn-primary:hover{
    cursor: pointer;
    background: rgb(15, 65, 245);
    color: rgb(85, 255, 0);
}
.avater{

}
.avater img{
    width: 86%;
}

.formbox{
    padding: 60px 0px 0px 43px;
}
.formbox h5{
    font-size: 18px;
    font-weight: 400;
    color:  coral;
}
.formbox h2{
    font-size: 34px;
    font-weight: 700;
    line-height: 1.2em;
    color: rgb(240, 227, 227);
}
.formbox p{
    font-size: 15px;
    font-weight: 300;
    color: rgb(233, 226, 214);
}

/* feature start *
.feature{
    display: block;
    text-align: center;
    padding: 30px 0px 0px;
}
.feature h5{
    font-size: 17px;
    color:  coral;
}
.feature h2{
    font-size: 26px;
    font-weight: 600;
    color: rgb(240, 227, 227);
}
.inerfeature{
    display: flex;
}
.inerleft{
    padding: 35px;
    margin: 35px 12px;
    width: 24%;
}
.inerleft img{
    width: 100%;
    height: 210px;
}
.inerleft h3{
    font-size: 19px;
    text-align: center;
}
.inerleft h6{
    font-size: 17px;
    text-align: center;
    
}
.inerleft h5{
    font-size: 13px;
    text-align: center;
    color: #988782;
}
.bg-1{
    background-color: #ffefe8;
}

/* feature end */


/* banner sart *
.banner{
    display: block;
    text-align: center;
    padding: 30px 0px 0px;    
}
.banner h5{
    font-size: 17px;
    color: #e16531;
}
.banner h2{
    font-size: 22px;
    font-weight: 700;
    color: white;
}
.inerbanner{
    display: flex;
}
.bannerleft{
    padding: 0px 36px 0px;
    margin: 15px 12px;
    width: 24%;
    text-align: center;
}
.bannerleft img{
    width: 30%;
    height: 85px;
}
.bannerleft h4{
    font-size: 17px;
    color: #e16531;
}
.bannerleft p{
    font-size: 13px;
    color: #9c9cba;
}
/* banner end *

.focus{
    background-color: #ffefe8;
    text-align: center;
    padding: 75px 0px
}
.focus h2{
    font-size: 22px;
}

/* fotter start */
.fotter{
    padding: 50px 0px 0px;    
    display: flex;
}
.inerfotter{
    margin: 41px;
    width: 80%;
}
.inerfotter h3{
    font-size: 18px;
    border-bottom: 3px solid rgb(238, 139, 68);
    width: 58%;
    color: #f0def0;
}
.inerfotter h4{
    font-size: 14px;
    margin: 10px 0px;
    color: #52515c;
}
.inerfotter .fa{
    width: 20%;
    margin: 10px 0px;
    background: rgb(244, 119, 23);
    text-align: center;
    padding: 15px 3px;
    border-radius: 100%;
    color: rgb(241, 237, 230);
    font-size: 15px;
}

@media (min-width:279px) and (max-width:319px){

}
@media (min-width:320px) and (max-width:480px){
    .containar{
        width: 90%;
        margin: 0px auto;
    }
    .row{
        width: 100%;
        float: left;
    }
    .col6{
        width: 100%;
        float: left;
    }
    .col4{
        width: 100%;
        float: left;
    }
}
@media (min-width:481px) and (max-width:767px){
    
}

@media (min-width:768px) and (max-width:1024px){
    
}